.logoImg{
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
}
.beaty{
    width: 320px;
    height: 100%;
}
.form-group{
    padding: 10px;
}
.form-control{
    width: 60%;
    float: right;
    margin-right: 5px;
 
}
.btn.btn-dark{
    padding:10px;
}
.button1 {
    text-align: center;
}
.button2 {
    text-align: center;
    display: inline-block;
}
.button2>a {
   text-align: center;
   padding:10px;
   padding-left: 20px;
   padding-right: 20px;
}



