<header class="site-header">
  <div class="identity">
    <div class="brand">
      <div class="site-logo">
        <a href="/"><span><img class="logoImg" src="logo.png" alt="logo"></span></a>
      </div>
      <div class="site-branding">

        <p class="site-title">
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </p>
        <p class="site-description">
          {{site.description}}
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <a href="mailto:s.chepov@abv.bg">
        <i class="fa fa-envelope"></i>
        office@smartguide.net
      </a>
      <a href="#">
        <i class="fa fa-phone-square"></i> +359 (2) 974-88-32
      </a>
    </div>
  </div>
  <nav class="navigation main">
    <ul>
      <li><a href="{{ site.baseurl }}/">About us</a></li>
      <div class="dropdown">
        <li class="services"><a href="{{ site.baseurl }}/about">Offers</a></li>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/services/accregistration/">Sunglasses</a>
          <a href="{{ site.baseurl }}/services/taxconsultancyservice/">Glasses</a>
          <a href="{{ site.baseurl }}/services/accconsultations/">Accesories</a>
        </div>
      </div>
      <li><a href="{{ site.baseurl }}/contacts">Contacts</a></li>
      <div class="dropdown">
        <li class="services"><a href="">Sign in</a></li>
        <div class="dropdown-content">
          <a href="">Sign up</a>
        </div>
      </div>
      <li></li>
    </ul>
  </nav>
</header>