<header class="site-header">
  <div class="identity">
    <div class="brand">
      <div class="site-logo">
        <a href="/"><span><img class="logoImg" src="logo.png" alt="logo"></span></a>
      </div>
      <div class="site-branding">

        <p class="site-title">
          <a href="/"></a>
        </p>
        <p class="site-description">

        </p>
      </div>
    </div>
    <div class="col-md-6">
      <a href="mailto:s.chepov@abv.bg">
        <i class="fa fa-envelope"></i>
        office@smartguide.net
      </a>
      <a href="#">
        <i class="fa fa-phone-square"></i> +359 (2) 974-88-32
      </a>
    </div>
  </div>
  <nav class="navigation main">
    <ul>
      <li><a href="/">About us</a></li>
      <div class="dropdown">
        <li class="services"><a href="/about">Sunglasses</a></li>
        <div class="dropdown-content">
          <a routerLink="/prescription/create">Create prescription</a>
          <a>Glasses</a>
          <a routerLink="/prescription/all">All prescriptions</a>
        </div>
      </div>
      <li><a href="/contacts">Contacts</a></li>
      <div class="dropdown">
        <li *ngIf="!authService.isAuthenticated()" class="services"><a routerLink="/signin">Sign in</a></li>
        <div class="dropdown-content">
          <form class="beaty" #loginForm="ngForm" (ngSubmit)="signIn()">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" name="email" required email ngModel #email="ngModel">
              <div *ngIf="email.invalid && email.touched" class="alert alert-dark">
                Please provide a correct email address!
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required minlength="4" ngModel #password="ngModel">
              <div *ngIf="password.invalid && password.touched" class="alert alert-dark">
                Password must have at least 4 characters
              </div>
            </div>
            <div class="button1">
              <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">Sign In</button>
            </div>
          </form>
          <li *ngIf="!authService.isAuthenticated()" class="nav-item">
            Don't have an account?
            <div class="button2">
              <a class="btn btn-dark" routerLink="/signup">Sign Up</a>
            </div>
          </li>
        </div>
      </div>
      <li *ngIf="authService.isAuthenticated()" class="services">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li></li>
    </ul>
  </nav>
</header>