<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h3>Prescription Details</h3>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="../../../favicon.ico" />
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <h3>The presription name is {{prescription.prescName}}</h3>

      <p>reyesphere: {{prescription.reyesphere}}</p>
      <p>reyecylinder: {{prescription.reyecylinder}}</p>
      <p>raxis: {{prescription.raxis}}</p>
      <p>leyesphere: {{prescription.leyesphere}}</p>
      <p>leyecylinder: {{prescription.leyecylinder}}</p>
      <p>laxis: {{prescription.laxis}}</p>
      <p>additional: {{prescription.additional}}</p>
      <p>pupilDist1: {{prescription.pupilDist1}}</p>
      <p>pupilDist2: {{prescription.pupilDist2}}</p>
      <p>birthY: {{prescription.birthY}}</p>

    </div>
  </div>
</div>